/* Клієнти */
.clients {
  padding-top: 60px;
  padding-bottom: 60px;

  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.clients__tittle {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.14;
  text-align: center;
  color: $tittle-text-color;

  @include desktop {
    font-size: 36px;
    line-height: 1.17;
  }
}
.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}
.clients-list__item {
  // display: flex;
  // margin: 0 auto;
  // display: inline-block;

  @include tel {
    flex-basis: calc(50% - $card-set-gap);
  }

  @include tablet {
    flex-basis: calc((100% - 2 * $card-set-gap) / 3);
  }

  @include desktop {
    flex-basis: calc((100% - 5 * $card-set-gap) / 6);
  }
}

// .clients-list__item:not(:last-child) {
//   margin-bottom: 30px;
// }
.clients-list__href {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 92px;
  width: 210px;
  color: $svg-color;
  border: 1px solid $svg-color;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:not(:first-child) {
    margin-left: 30px;
  }

  &:hover,
  &:focus {
    color: $accent-color;
    border: 1px solid $accent-color;
  }
}

.clients-list__svg {
  fill: currentColor;
  width: 106px;
  height: 60px;
}
