/* Features */

.features {
  padding-top: 60px;
  padding-bottom: 60px;

  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  &__tittle {
    margin-bottom: 10px;

    color: $tittle-text-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0px;
  @include tel {
    margin-left: -30px;
    margin-bottom: -30px;
  }
}
.feature-list__item {
  width: 100%;

  @include tel {
    flex-basis: calc(50% - $card-set-gap);

    margin-left: $card-set-gap;
    margin-bottom: $card-set-gap;
    padding: 0;
    max-width: 354px;
  }

  @include desktop {
    max-width: 270px;
  }
  &:not(:first-child) {
    margin-top: 30px;

    @include desktop {
      margin-top: 0;
      margin-left: 30px;
    }
  }
}

.feature-list__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 450px;
  height: 120px;
  padding: 0;
  margin-bottom: 30px;

  background-color: $team-bcg-color;
  border-radius: 4px;

  @include tablet {
    max-width: 354px;
  }

  @include desktop {
    width: 270px;
  }
}

.feature-list__tittle {
  margin-bottom: 10px;
  text-align: center;

  color: $tittle-text-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  @include tablet {
    text-align: left;
  }
}

.feature-list__content {
  font-size: 14px;
  line-height: 1.71;
}
