.footer {
  background-color: $hero-bcg-color;
  padding-bottom: 60px;
  padding-top: 60px;
}

.footer-container {
  text-align: center;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }

  @include desktop {
    flex-wrap: nowrap;
    justify-content: baseline;
    text-align: start;
  }
}
.footer-logo {
  display: inline-block;
  margin-bottom: 28px;

  @include desktop {
    margin-bottom: 20px;
  }

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: $primary-text-color;
  text-decoration: none;

  @include tel {
    font-size: 24px;
    line-height: 1.17;
  }
}

.footer-logo__span {
  color: $accent-color;
}
.footer-address {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}
.footer-list:not(:last-child) {
  margin-bottom: 12px;

  @include desktop {
    margin-bottom: 9px;
  }
}
.footer-list__href-address {
  color: $primary-text-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.footer-list__href-mail {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.footer-list__href-tel {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.footer-wrapper {
  @include desktop {
    margin-left: 94px;
  }
}

.footer-wrapper__tittle {
  margin-top: 60px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $primary-text-color;
}

// Form

.container-form {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 60px;
  }

  @include desktop {
    display: block;
    margin-left: 93px;
  }
}
.container-form__tittle {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $primary-text-color;
}
.container-form__wrapper {
  display: block;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  @include desktop {
    flex-wrap: nowrap;
    justify-content: baseline;
    text-align: start;
  }
}
.container-form__input {
  margin-bottom: 20px;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  padding-left: 16px;
  color: #ffffff;
  background-color: $hero-bcg-color;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  @include tablet {
    width: 450px;
    margin-left: 50px;
    margin-right: 50px;
  }

  @include desktop {
    margin-bottom: 0;
    margin-right: 12px;
    width: 358px;
  }
}

.container-form__button {
  align-items: center;
  display: inline-flex;
  border: none;
  cursor: pointer;
  padding-left: 28px;
  padding-top: 10px;
  padding-bottom: 10px;
  letter-spacing: 0.06em;
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.18;
  color: $primary-text-color;
  background-color: $accent-color;
  box-shadow: $btn-hero-shadow;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $btn-color;
    color: $primary-text-color;
    box-shadow: $btn-hero-shadow;
  }

  @include desktop {
    display: flex;
  }
}

.container-form__svg {
  margin-left: 10px;
  fill: $primary-text-color;
}
