/* Hero */
.hero {
  text-align: center;
  margin: 0 auto;
  max-width: 1600px;
  height: 600px;
  background-color: $hero-bcg-color;
  background-image: linear-gradient(to right, $hero-gradient, $hero-gradient),
    url(../../images/background-img_mob.jpg);

  @include retina {
    background-image: linear-gradient(to right, $hero-gradient, $hero-gradient),
      url(../../images/background-img__mob-2x.jpg);
  }
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 200px;
  padding-bottom: 200px;

  @include tablet {
    background-image: linear-gradient(to right, $hero-gradient, $hero-gradient),
      url(../../images/background-img_tablet.jpg);

    @include retina {
      background-image: linear-gradient(
          to right,
          $hero-gradient,
          $hero-gradient
        ),
        url(../../images/background-img_tablet-2x.jpg);
    }
  }

  @include desktop {
    background-image: linear-gradient(to right, $hero-gradient, $hero-gradient),
      url(../../images/background-img.jpg);
  }

  @include retina {
    background-image: linear-gradient(to right, $hero-gradient, $hero-gradient),
      url(../../images/background-img-2x.jpg);
  }
}

.hero-container {
  max-width: 696px;
}
.hero-container__tittle {
  color: $primary-text-color;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;

  @media screen and (max-width: 1200px) {
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero-container__btn {
  color: $primary-text-color;
  background-color: $accent-color;
  box-shadow: $btn-hero-shadow;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  display: inline-block;
  padding: 10px 32px;
  margin-top: 30px;
  min-width: 216px;
  text-align: center;
  text-decoration: none;
  border: none;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $btn-color;
    color: $primary-text-color;
    box-shadow: $btn-hero-shadow;
    border-radius: 4px;
  }
}
