/* Work Examples */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  gap: $card-set-gap;
}

.portofolio-list__item {
  display: block;
  width: 100%;

  @include tablet {
    flex-basis: calc(50% - $card-set-gap);
  }

  @include desktop {
    flex-basis: calc((100% - 2 * 30px) / 3);
  }
}

.card-box {
  position: relative;
  overflow: hidden;
}

.card-thumb {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 100%;
  height: 100%;
  padding-top: 63px;
  padding-left: 24px;
  padding-right: 24px;
  transform: translateY(100%);
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .portofolio-list__href:hover &,
  .portofolio-list__href:focus & {
    box-shadow: $portfolio-shadow;
    transform: translateX(0);
  }
}

.card-thumb__overlay-text {
  font-family: "Roboto";
  font-size: 18px;
  line-height: 1.56;
  color: $primary-text-color;
}

.card-content {
  padding: 20px 24px;
  border-left: 1px solid $portfolio-border;
  border-bottom: 1px solid $portfolio-border;
  border-right: 1px solid $portfolio-border;
}
.card-content__tittle {
  color: $tittle-text-color;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;
}

.card-content__subtittle {
  color: $content-text-color;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
