/* Team list */

.team-section {
  background-color: $team-bcg-color;
  padding-top: 60px;
  padding-bottom: 60px;

  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.team-section__tittle {
  text-align: center;
  margin-bottom: 30px;

  color: $tittle-text-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;

  @include desktop {
    margin-bottom: 50px;
  }
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
  padding: 0;
  // margin-top: 30px;
}

.team-list__item {
  width: 100%;
  margin-left: $card-set-gap;
  margin-bottom: $card-set-gap;
  background: $primary-text-color;
  box-shadow: $btn-shadow;
  border-radius: 0px 0px 4px 4px;

  @include tablet {
    flex-basis: calc(50% - $card-set-gap);
  }

  @include desktop {
    flex-basis: calc((100% - 3 * $card-set-gap) / 4);
  }

  &:first-child {
    @include desktop {
      margin-left: 0px;
    }
  }

  // &:nth-child(2n + 1) {
  //   @media screen and (min-width: 768px) {
  //     margin-right: 30px;
  //   }
  // }
  // &:nth-child(-n + 2) {
  //   @media screen and (min-width: 768px) {
  //     margin-bottom: 30px;
  //   }
  // }
  // &:not-last-child(-n + 2) {
  //   @media screen and (min-width: 768px) {
  //     margin-bottom: 0;
  //   }
  // }

  // &:not(:last-child) {
  //   margin-bottom: 30px;
  // }
}

.team-list__tittle {
  color: $tittle-text-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  padding-top: 30px;
  text-align: center;
}

.team-list__subtittle {
  color: $content-text-color;
  font-size: 16px;
  line-height: 1.19;

  margin-top: 10px;
  text-align: center;
  padding-bottom: 30px;
}

/* svg */
.icon-list {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;

  &--desplaced {
    margin-top: 20px;
    margin-bottom: 60px;

    @include desktop {
      margin-bottom: 0;
    }
  }
}
.icon-list__item {
  display: inline-block;
  &:not(:first-child) {
    margin-left: 10px;
  }
}

.icon-list__href {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  color: $svg-color;
  background-color: $primary-text-color;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $primary-text-color;
    background-color: $accent-color;
  }
  &--repainted {
    color: $primary-text-color;
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.icon-list__svg {
  fill: currentColor;
}
