/* Work list */
.work-list {
  padding-bottom: 94px;
}
.work-wrap__tittle {
  color: $tittle-text-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;

  text-align: center;
}
.list-image {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-top: 50px;
}
.list-image__item {
  position: relative;

  &:not(:first-child) {
    margin-left: 30px;
  }
}
.img-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding-top: 27px;
  background-color: $work-list-bcg-shadow;
}

.list-image__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: $primary-text-color;
}
